body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	background-color: black;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.game {
	border: 2px solid #DCDCDC;
	border-radius: 5px;
	box-shadow: 0px 0px 10px hsla(0, 100%, 100%, 1);
	overflow: hidden;
}

.game .field {
	display: block;
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px 0px;
}

.game .field:focus {
	outline: none;
}

.game .scoreboard {
	padding: 5px;
}

.game .scoreboard .score {
	width: 50px;
	margin: 5px 10px;
	padding: 3px 6px;
	text-align: right;
	font-family: "Consolas", "Courier New", monospace;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
}

.game .scoreboard .p1 {
	color: yellow;
	border-color: yellow;
}

.game .scoreboard .p2 {
	color: cyan;
	border-color: cyan;
}
